[defaults]
interpreter_python = auto_silent
retry_files_enabled = false
stdout_callback = default
roles_path = ./roles
collections_path = ./collections
host_key_checking = true
deprecation_warnings = false

[privilege_escalation]
become = false
